version: "3.9"

services:
  web:
    build:
      context: ../../..
      dockerfile: Dockerfile
    container_name: django_mini_14
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ..:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings